#grandparent{
    margin:10px;
    height: 140px;
    border: 1px solid yellow;
}
#parent{
    margin:10px;
    height: 80px;
    border: 1px solid red;
}
#child{
    margin:10px;
    height: 40px;
    border: 1px solid blue;
}